services:
  postgres:
    image: postgres:15
    container_name: orbitx-postgres
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - orbitx-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    image: ghcr.io/oscar-ekeyekwu/orbitx-app:latest
    container_name: orbitx-app
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "3000:3000"
    networks:
      - orbitx-network

volumes:
  postgres_data:

networks:
  orbitx-network:
